.list-message {
  padding: 2rem 1rem;
}

.profile-email, .profile-edit {
  font-weight: 600;
  font-size: 0.8em;
  color: #9b9b9b;
}
.profile-email {
  margin: 1rem 0;
}
.profile-edit {
  margin-top: 6rem;
  padding-bottom: 1.5rem;
}
.profile-edit a {
  color: inherit;
  text-transform: uppercase;
}

[data-page=profile] .login-box-symbol {
  background: transparent;
  top: 24px;
}

[data-page=profile] .avatar-initials {
  font-size: 1.5rem;
  width: 3rem;
  height: 3rem;
}

[data-page=profile] .login-box-header {
  padding-top: 2.2rem;
}
